.layout-transparent{

  .mdl-layout__header {
    color: #e91e63;

    .mdl-layout__header-row .mdl-navigation__link {
      color: #222;
    }

    a.logo-link {
      position: relative;
      top: -12px;
      .logo {
        font-size: 0;
        display: inline-block;
        width: 100px;
        height: 37px;
        background-size: contain;
        background-image: url(../ohoto.png);
        background-repeat: no-repeat;
      }
    }
  }
}


.view-container {
  position: relative;
}

.view-frame.ng-enter, .view-frame.ng-leave {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.view-frame.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index:99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

[ng-go-to] {
  cursor: pointer;
}

html:not([data-logged]) {
  .mdl-navigation__link {
    display: none;
  }
}

html {
  &[data-logged="false"] {
    [data-logged="false"] {
      display: inline !important;
    }
  }
  &[data-logged="true"] {
    [data-logged="true"] {
      display: inline !important;
    }
  }
}

.items-container {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

  .item-wrapper {
    display: inline-block;
    text-align: left;
  }
}

.item-card-image {
  &.mdl-card {
    cursor: pointer;
    width: 256px;
    height: 256px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .mdl-card__title.mdl-card--expand {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity ease 0.18s;

    &:hover {
      opacity: 1;
    }

    .item-card-expand__likes {
      width: 100%;
      text-align: center;
      color: #fff;
      font-weight: 600;
    }

    .item-card-expand__shopname {
      position: absolute;
      bottom: 15px;
      left: 15px;
      color: #fff;
      font-weight: 600;
    }
  }

  > .mdl-card__actions {
    height: 52px;
    padding: 19px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.23);
  }

  .item-card-image__shopname {
    color: #fff;
  }
}

.item-page-back-button {
  position: fixed;
  left: 30px;
  bottom: 30px;
}

.shop-list, .user-list, .shop-profile, .user-profile {
  margin-top: 20px;
  margin-left: 20px;

  .mdl-grid {

    img {
      border-radius: 50%;
    }

    ul.description {
      list-style-type: none;
      padding-top: 35px;
      min-width: 150px;

      li {
        a {
          color: black;
          font-size: 120%;
          font-weight: 600;
        }
      }
    }
  }
}

.mdl-navigation__link.userpic {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  background-size: cover;
}