html {
  &[data-logged="false"] {
    [data-logged="false"] {
      display: inline !important;
    }
  }
  &[data-logged="true"] {
    [data-logged="true"] {
      display: inline !important;
    }
  }
}

.items-container {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

  .item-wrapper {
    display: inline-block;
    text-align: left;
  }
}

.item-card-image {
  &.mdl-card {
    cursor: pointer;
    width: 256px;
    height: 256px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .mdl-card__title.mdl-card--expand {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity ease 0.18s;

    &:hover {
      opacity: 1;
    }

    .item-card-expand__likes {
      width: 100%;
      text-align: center;
      color: #fff;
      font-weight: 600;
    }

    .item-card-expand__shopname {
      position: absolute;
      bottom: 15px;
      left: 15px;
      color: #fff;
      font-weight: 600;
    }
  }

  > .mdl-card__actions {
    height: 52px;
    padding: 19px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.23);
  }

  .item-card-image__shopname {
    color: #fff;
  }
}

.item-page-back-button {
  position: fixed;
  left: 30px;
  bottom: 30px;
}